.clients-page--wrapper
  display: flex
  margin-top: 4em

.clients-page--content
  margin-left: 2em
  width: 100%

.clients-menu
  width: 25%

.new-client-container--wrapper
  width: 50%
  margin: 0 auto

.clients-page--title
  text-align: center
