.aligner
  display: flex;
  flex-direction: column
  align-items: center
  justify-content: center
  margin-top: 5em
  font-size: 18px

.aligner-item
  margin-top: 2em
  max-width: 50%

.aligner-no-padding
  display: flex;
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 18px

.aligner-margin-top
  display: flex;
  flex-direction: column
  align-items: center
  justify-content: center
  margin-top: 15em

.aligner-item
  margin-top: 2em
  max-width: 50%

.list-container
  width: 800px

.list-item
  display: flex

.buttons-controls
  margin-left: auto;

.create-list-container
  width: 100%
  display: flex
  justify-content: center
  align-items: flex-start
  margin-top: 15em

.list-item-wrapper
  width: 100%
  display: flex
